@import url(reset.css);
.font10 {
  transform: scale(0.83333333);
  transform-origin: left top;
  display: block;
}
html,
body,
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.full {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container .head {
  width: 100%;
  height: 0.82rem;
  background: #4194f0;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
}
.container .head .shop-pic {
  width: 0.38rem;
  height: 0.33rem;
  margin-left: 0.3rem;
}
.container .head .shop-txt {
  -webkit-box-flex: 1;
  margin-left: 0.42rem;
  font-size: 0.28rem;
  color: #fff;
}
.container .head .shop_put {
  margin-left: 1.8rem;
}
.container .main::-webkit-scrollbar {
  width: 0;
}
.container .main {
  -webkit-box-flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
.container .main .shop-head {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 1.26rem;
  background: #4194f0;
}
.container .main .shop-head .head-pic {
  position: relative;
}
.container .main .shop-head .head-pic .img {
  width: 1.06rem;
  height: 1.06rem;
  margin: auto 0.2rem auto 0.3rem;
}
.container .main .shop-head .banner {
  width: 1.06rem;
  height: 1.06rem;
  margin: auto 0.2rem auto 0.3rem;
  position: absolute;
  left: 0;
  top: 0;
}
.container .main .shop-head .banner-two {
  display: none;
}
.container .main .shop-head .head-txt {
  -webkit-box-flex: 1;
  margin-top: 0.12rem;
}
.container .main .shop-head .head-txt .shop-tit {
  color: #fff;
  font-size: 0.22rem;
}
.container .main .shop-head .head-txt .shop-tit .num {
  margin-left: 0.12rem;
}
.container .main .shop-head .head-txt .shop-tit .bar img {
  width: 0.01rem;
  height: 0.2rem;
  margin: auto 0.1rem;
}
.container .main .shop-head .sign {
  width: 0.35rem;
  height: 0.35rem;
  background: url("../img/shop-pic/star.png") no-repeat;
  background-size: 0.35rem;
  margin-right: 0.2rem;
}
.container .main .shop-head .star {
  width: 0.35rem;
  height: 0.35rem;
  background: url("../img/shop-pic/star-two.png") no-repeat;
  background-size: 0.35rem;
  margin-right: 0.2rem;
}
.container .main .shop-list {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 0.65rem;
  background: none;
  border-bottom: 1px solid #cccccc;
  -webkit-box-align: center;
}
.container .main .shop-list .shop-nav {
  display: block;
  -webkit-box-flex: 1;
  text-align: center;
  height: 0.65rem;
  line-height: 0.65rem;
  font-size: 0.26rem;
  color: #323232;
}
.container .main .shop-list .shop-nav:first-child {
  color: #4194f0;
}
.container .main .shop-list .one:hover,
.container .main .shop-list .one:active {
  color: #4194f0;
  border-bottom: 3px solid #4194f0;
}
.container .main .shop-list .two:hover,
.container .main .shop-list .two:active {
  color: #4194f0;
  border-bottom: 3px solid #4194f0;
}
.container .main .shop-list .three:hover,
.container .main .shop-list .three:active {
  color: #4194f0;
  border-bottom: 3px solid #4194f0;
}
.container .main .fitment {
  width: 100%;
  height: 8.17rem;
  background: none;
  margin-top: 25.3125%;
  text-align: center;
}
.container .main .fitment .qiu {
  margin: 0 auto;
}
.container .main .fitment .qiu img {
  width: 2.16rem;
  height: auto;
}
.container .main .fitment .character_1 {
  font-size: 0.27rem;
}
.container .main .fitment .character_1 a {
  color: #8a8a8a;
}
.container .main .middle {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 8.21rem;
  background: none;
}
.container .main .middle .left-mid-nav {
  width: 1.36rem;
  height: 8.21rem;
  background: #d8d8d8;
  border-right: 1px solid #eeeeee;
}
.container .main .middle .left-mid-nav .list-left-mid-nav .item-left-mid-nav {
  border-bottom: 1px solid #eaeaea;
  font-size: 0.25rem;
  text-align: center;
  padding-top: 0.43rem;
  padding-bottom: 0.43rem;
}
.container .main .middle .left-mid-nav .list-left-mid-nav .item-left-mid-nav a {
  color: #666666;
}
.container .main .middle .left-mid-nav .list-left-mid-nav .item-left-mid-nav:hover,
.container .main .middle .left-mid-nav .list-left-mid-nav .item-left-mid-nav.active {
  background: #fff;
}
.container .main .middle .left-mid-nav .list-left-mid-nav .item-left-mid-nav:hover .list-txt,
.container .main .middle .left-mid-nav .list-left-mid-nav .item-left-mid-nav.active .list-txt {
  color: #4094ec;
}
.container .main .middle .right-mid {
  -webkit-box-flex: 1;
}
.container .main .middle .right-mid .food-nav {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 0.64rem;
  background: #f5f5f5;
  border-left: 9px solid #d8d8d8;
  border-bottom: 1px solid #eeeeee;
  -webkit-box-align: center;
}
.container .main .middle .right-mid .food-nav .food {
  display: block;
  border: 1px solid #9e9e9e;
  border-radius: 0.17rem;
  width: 0.8rem;
  height: 0.42rem;
  line-height: 0.42rem;
  text-align: center;
  margin-left: 0.24rem;
  color: #999999;
}
.container .main .middle .right-mid .food-nav .food .food-shape {
  transform: scale(0.75);
}
.container .main .middle .right-mid .food-nav .food-hue:first-child {
  background: #4194f0;
  color: #fff;
}
.container .main .middle .right-mid .right-main {
  width: null;
  height: null;
  background: #ffffff;
  margin: auto 0.17rem auto 0.2rem;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 0.12rem;
  position: relative;
}
.container .main .middle .right-mid .right-main .open-pic img {
  width: 0.58rem;
  position: absolute;
  left: -0.2rem;
  top: 0;
}
.container .main .middle .right-mid .right-main .radius {
  position: absolute;
  right: 0.04rem;
  bottom: 0.44rem;
  border-radius: 50%;
  padding-top: 0.08rem;
  box-sizing: border-box;
  text-align: center;
  width: 0.4rem;
  height: 0.4rem;
  background: #acacac;
}
.container .main .middle .right-mid .right-main .radius .img {
  width: 0.24rem;
}
.container .main .middle .right-mid .right-main .radius .two {
  color: #333333;
  font-size: 0.17rem;
  position: absolute;
  right: 0.8rem;
  top: 0.06rem;
}
.container .main .middle .right-mid .right-main .radius .sign {
  width: 0.4rem;
  position: absolute;
  right: 1.12rem;
  top: 0;
}
.container .main .middle .right-mid .right-main .bgradius {
  background: #4194f0;
}
.container .main .middle .right-mid .right-main .normal {
  bottom: 0.10rem;
}
.container .main .middle .right-mid .right-main .open {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding-top: 0.2rem;
  margin-bottom: 0.11rem;
}
.container .main .middle .right-mid .right-main .open .right-pic .add-pic {
  width: 1.06rem;
  border: 1px solid #e1e3e6;
}
.container .main .middle .right-mid .right-main .open .right-pic .sale {
  width: 0.88rem;
  margin-left: 0.1rem;
  padding-top: 0.1rem;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0.22rem;
}
.container .main .middle .right-mid .right-main .open .open-txt {
  margin-left: 0.2rem;
}
.container .main .middle .right-mid .right-main .open .open-txt .character {
  color: #333333;
  font-size: 0.24rem;
}
.container .main .middle .right-mid .right-main .open .open-txt .repertory {
  color: #666666;
  font-size: font10;
}
.container .main .middle .right-mid .right-main .open .open-txt .bank .fontred {
  color: #ff5a64;
  font-size: 0.24rem;
}
.container .main .middle .right-mid .right-main .open .open-txt .bank .delete {
  color: #c8c8c8;
  font-size: 0.19rem;
  text-decoration: line-through;
}
.container .main .middle .right-mid .right-main .date {
  border: 1px solid #ff8c33;
}
.container .main .middle .right-mid .right-main .date .date-tit {
  color: #ff8c33;
  padding: 0 0.05rem;
}
.container .main .middle .right-mid .right-main .date .time {
  color: #fff;
  background: #ff8c33;
  padding: 0 0.11rem;
}
.container .main .footer {
  z-index: 90;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 0.88rem;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
}
.container .main .footer .footer_4 {
  position: absolute;
  left: 0.9rem;
  top: -0.3rem;
}
.container .main .footer .footer_4 img {
  width: 0.39rem;
}
.container .main .footer .base_132 {
  position: absolute;
  left: 0.80rem;
  top: -0.32rem;
}
.container .main .footer .base_132 img {
  width: 0.60rem;
}
.container .main .footer .vehicle {
  display: block;
  width: 1rem;
  height: 1rem;
  background: url(../img/shop-pic/vehicle.png) no-repeat;
  background-size: 1rem;
  margin-top: -0.32rem;
  margin-left: 0.2rem;
}
.container .main .footer .vehicle-cart {
  display: block;
  width: 1rem;
  height: 1rem;
  background: url(../img/shop-pic/cart_blue.png) no-repeat;
  background-size: 1rem;
  margin-top: -0.32rem;
  margin-left: 0.2rem;
}
.container .main .footer .pri {
  -webkit-box-flex: 1;
  color: #fff;
  font-size: 0.23rem;
  margin-top: 0.2rem;
}
.container .main .footer .status {
  width: 2.3rem;
  height: 0.88rem;
  background: #535558;
  font-size: 0.3rem;
  text-align: center;
  line-height: 0.88rem;
}
.container .main .footer .status a {
  color: #fff;
}
.container .main .footer .bgcolor {
  background: #ff8c50;
}
.container .main .base {
  width: 100%;
  height: 0.88rem;
  background: #434343;
}
.shelter {
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
}
.shelter .shelter-inner {
  width: 4.64rem;
  height: 6.05rem;
  background: #ffffff;
  position: absolute;
  left: 50%;
  margin-left: -2.32rem;
  top: 50%;
  margin-top: -3.025rem;
}
.shelter .shelter-inner .close {
  width: 0.54rem;
  height: 0.54rem;
  background: #ffffff;
  background: url("../img/shop-pic/close.png") no-repeat;
  background-size: 0.54rem;
  position: absolute;
  right: 0.1rem;
  top: 0.1rem;
}
.shelter .shelter-inner .big-pic {
  width: 4.19rem;
  height: 4.81rem;
  background: none;
  margin-left: 0.25rem;
}
.shelter .shelter-inner .big-pic img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.shelter .shelter-inner .big-txt {
  color: #333333;
  font-size: 0.22rem;
  margin: auto 0.24rem;
}
.shelter_two {
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
}
.empty {
  width: 100%;
  height: 41.92982456%;
  background: #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
}
.empty .empty-up {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 0.69rem;
  background: #eeeeee;
  line-height: 0.69rem;
}
.empty .empty-up .up-em {
  display: block;
  -webkit-box-flex: 1;
  margin-left: 0.21rem;
  color: #333333;
  font-size: 0.22rem;
}
.empty .empty-up .up-stop {
  margin-right: 0.21rem;
  color: #333333;
  font-size: 0.22rem;
}
.empty .check {
  width: null;
  height: 1.36rem;
  background: #ffffff;
  border-bottom: 1px solid #ededed;
  margin: auto 0.17rem auto 0.23rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  position: relative;
}
.empty .check .check-label input[type="checkbox"] {
  display: none;
}
.empty .check .check-label input[type="checkbox"] + label {
  margin-left: 0.2rem;
  line-height: 1.36rem;
  display: block;
  width: 0.38rem;
  height: 0.38rem;
  background: url("../img/check-mark.png") no-repeat bottom;
  background-size: 0.38rem auto;
}
.empty .check .check-label input[type="checkbox"]:checked + label {
  background-position: 0 0;
}
.empty .check .check-inner {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
}
.empty .check .check-inner .check-pic {
  width: 0.86rem;
  border: 1px solid #e1e3e6;
  margin-left: 0.24rem;
  margin-right: 0.26rem;
}
.empty .check .check-inner .check-icon {
  display: block;
  width: 1.73rem;
  -webkit-box-flex: 1;
  color: #333333;
  font-size: 0.26rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.empty .check .check-inner .check-money {
  color: #ff5a64;
  font-size: 0.2rem;
}
.empty .check .check-absolu .check-three {
  position: absolute;
  right: 0.70rem;
  top: 0.5rem;
  font-size: 0.28rem;
  color: #333333;
}
.empty .check .check-absolu .check-pic-jian {
  width: 0.4rem;
  position: absolute;
  right: 1.12rem;
  top: 0.48rem;
}
.empty .check .check-absolu .check-pic-jia {
  width: 0.4rem;
  position: absolute;
  right: 0.2rem;
  top: 0.48rem;
}
.evaluation {
  width: 100%;
  height: 9rem;
  background: #f2f5f7;
}
.evaluation .evaluation-up {
  width: 100%;
  height: 1.32rem;
  background: #ffffff;
  -webkit-box-align: center;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.evaluation .evaluation-up .left {
  width: 2.4rem;
  text-align: center;
  border-right: 1px solid #e6e9eb;
}
.evaluation .evaluation-up .left .evaluation-up-four {
  font-size: 0.22rem;
  color: #ffb82e;
}
.evaluation .evaluation-up .left .evaluation-up-txt {
  color: #666666;
  font-size: 0.23rem;
}
.evaluation .evaluation-up .left .evaluation-up-state {
  color: #b6b6b6;
  font-size: 0.19rem;
}
.evaluation .evaluation-up .right {
  width: 4rem;
  margin-left: 0.6rem;
}
.evaluation .evaluation-up .right .speed {
  color: #333333;
  font-size: 0.23rem;
}
.evaluation .evaluation-up .right .stars-orange .stars {
  display: inline-block;
  width: 0.19rem;
  height: 0.19rem;
  background: url("../img/shop-pic/xingxing.png") no-repeat;
  background-size: 0.19rem;
  text-indent: -99999px;
}
.evaluation .evaluation-up .right .stars-orange .stars:hover,
.evaluation .evaluation-up .right .stars-orange .stars.active {
  background-position: 0 -0.19rem;
}
.evaluation .evaluation-up .right .right-num {
  color: #ffbd44;
  font-size: 0.20rem;
}
.evaluation .evaluation-bot {
  width: null;
  height: 7.49rem;
  background: #ffffff;
  margin-top: 0.2rem;
}
.evaluation .evaluation-bot .evaluation-first {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: null;
  height: 1.36rem;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  margin-left: 0.19rem;
}
.evaluation .evaluation-bot .evaluation-first .evaluation-pic img {
  width: 0.65rem;
  margin: 0.17rem 0.13rem 0.55rem 0;
}
.evaluation .evaluation-bot .evaluation-first .evaluation-txt {
  -webkit-box-flex: 1;
  margin-top: 0.25rem;
}
.evaluation .evaluation-bot .evaluation-first .evaluation-txt .user {
  color: #333333;
  font-size: 0.19rem;
  margin-bottom: 0.1rem;
}
.evaluation .evaluation-bot .evaluation-first .evaluation-txt .stars-orange .stars {
  display: inline-block;
  width: 0.19rem;
  height: 0.19rem;
  background: url("../img/shop-pic/xingxing.png") no-repeat;
  background-size: 0.19rem;
  text-indent: -99999px;
}
.evaluation .evaluation-bot .evaluation-first .evaluation-txt .stars-orange .stars:hover,
.evaluation .evaluation-bot .evaluation-first .evaluation-txt .stars-orange .stars.active {
  background-position: 0 -0.19rem;
}
.evaluation .evaluation-bot .evaluation-first .evaluation-txt .good {
  color: #333333;
  font-size: 0.22rem;
}
.evaluation .evaluation-bot .evaluation-first .evaluation-time {
  margin-top: 0.25rem;
  color: #999999;
}
.evaluation .evaluation-bot .evaluation-first .evaluation-time .years-time {
  font-size: 0.14rem;
  margin-right: 0.21rem;
}
.evaluation .evaluation-bot .evaluation-first .evaluation-time .years-date {
  font-size: 0.14rem;
  margin-right: 0.21rem;
}
.put::-webkit-scrollbar {
  width: 0;
}
.put {
  width: 100%;
  height: auto;
  background: #f2f5f7;
  -webkit-box-flex: 1;
  overflow: auto;
  overflow-y: auto;
  overflow-x: none;
}
.put .put_tit {
  width: 100%;
  height: 1.35rem;
  background: #ffffff;
  margin-right: 0.2rem;
  background-size: 0.16rem;
  margin-top: 0.15rem;
  border-top: 1px solid #e6e9eb;
  border-bottom: 1px solid #e6e9eb;
  background: #ffffff url("../img/put/bar_bar.jpg") repeat-x;
  background-position: bottom;
}
.put .put_tit .put-txt {
  margin-top: 0.22rem;
  margin-left: 0.2rem;
}
.put .put_tit .put-txt .name {
  color: #333333;
  font-size: 0.25rem;
}
.put .put_tit .put-txt .tel {
  color: #333333;
  font-size: 0.22rem;
  margin-left: 0.23rem;
}
.put .put_tit .put_inner {
  margin-left: 0.2rem;
  margin-right: 0.64rem;
}
.put .put_tit .put_inner .put_bei {
  color: #333333;
  font-size: 0.2rem;
  background: url("../img/shop-pic/tit.png") no-repeat left 4px;
  background-size: 0.2rem;
  padding-left: 0.32rem;
}
.put .put_beizhu {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 0.78rem;
  background: #ffffff;
  border-bottom: 1px solid #e6e9eb;
  border-top: 1px solid #e6e9eb;
  margin-top: 0.15rem;
  -webkit-box-align: center;
}
.put .put_beizhu .add {
  display: block;
  margin-left: 0.2rem;
  color: #333333;
  font-size: 0.24rem;
}
.put .put_beizhu .put_con {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666666;
  font-size: 0.22rem;
  -webkit-box-flex: 1;
  margin-left: 0.6rem;
}
.put .put_beizhu .sanjiao img {
  display: block;
  width: 0.16rem;
  margin-right: 0.2rem;
}
.put .put_mad {
  width: 100%;
  height: 0.81rem;
  background: #ffffff;
  border-top: 1px solid #e6e9eb;
  margin-top: 0.13rem;
  line-height: 0.81rem;
  background: #ffffff url("../img/put/cion_jiudian_shu.png") no-repeat 0.2rem center;
  background-size: 0.06rem;
  padding-left: 0.34rem;
}
.put .put_mad .bg_txt {
  color: #333333;
  font-size: 0.25remm;
  margin-right: 0.56rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.put .con_inner {
  width: 100%;
  height: 4.31rem;
  background: #ffffff;
  margin-top: 0.01rem;
}
.put .con_inner .put_con_first {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: null;
  height: 1.16rem;
  background: #ffffff;
  margin: 0 0.2rem;
  border-bottom: 1px solid #ededed;
  -webkit-box-align: center;
}
.put .con_inner .put_con_first .put_pic_img img {
  display: block;
  width: 0.88rem;
  margin-right: 0.2rem;
}
.put .con_inner .put_con_first .put_content_txt {
  -webkit-box-flex: 1;
  font-size: 0.23rem;
  color: #333333;
}
.put .con_inner .put_con_first .put_money {
  display: block;
}
.put .con_inner .put_con_first .put_money .x-one {
  margin-left: 0.4rem;
  color: #999999;
}
.put .con_inner .put_con_first .put_money .one {
  text-decoration: line-through;
  color: #c8c8c8;
}
.put .con_inner .put_con_first .put_money .put_five {
  color: #666666;
  font-size: 0.16rem;
}
.put .con_inner .put_foot {
  width: 100%;
  height: 0.8rem;
  background: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  border-top: 1px solid #ededed;
  -webkit-box-align: center;
}
.put .con_inner .put_foot .yuan {
  color: #666666;
  margin-left: 0.2rem;
  font-size: 0.21rem;
}
.put .con_inner .put_foot .yuan .er {
  color: #;
}
.put .con_inner .put_foot .you {
  -webkit-box-flex: 1;
  color: #666666;
  font-size: 0.22rem;
  margin-left: 0.33rem;
}
.put .con_inner .put_foot .dai {
  color: #333333;
  font-size: 0.24rem;
  margin-right: 0.2rem;
}
.put .con_inner .put_foot .dai .qi {
  color: #ff5a64;
}
.base_put {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 0.87rem;
  background: none;
  -webkit-box-align: center;
  line-height: 0.87rem;
}
.base_put .disburse {
  width: 64.0625%;
  height: 0.87rem;
  background: #454647;
  -webkit-box-flex: 1;
  color: #ffffff;
  font-size: 0.27rem;
  text-indent: 0.2rem;
}
.base_put .affirm {
  width: 35.9375%;
  height: 0.87rem;
  background: #ff8c50;
  text-align: center;
  color: #ffffff;
  font-size: 0.3rem;
}
.shelter_stop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
}
.shelter_stop .inner_stop {
  width: 5.08rem;
  height: 2.95rem;
  background: #ffffff;
  position: absolute;
  left: 50%;
  margin-left: -2.54rem;
  top: 50%;
  margin-top: -1.475rem;
  border-radius: 0.1rem;
}
.shelter_stop .inner_stop .inner_stop_up {
  margin-top: 0.63rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  font-size: 0.26rem;
  color: #333333;
}
.shelter_stop .inner_stop .inner_stop_confirm {
  text-align: center;
  line-height: 0.8rem;
  width: 4.48rem;
  height: 0.8rem;
  background: #4194f0;
  color: #fff;
  font-size: 0.25rem;
  border-radius: 0.05rem;
  margin-top: 0.50rem;
  margin-left: 0.3rem;
  border: 1px solid #cfcfcf;
}
.main_indent {
  -webkit-box-flex: 1;
  width: 100%;
  height: auto;
  background: #f1f5f8;
  overflow: auto;
}
.main_indent .indent_nav {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 0.87rem;
  background: #ffffff;
  border-bottom: 1px solid #e5e9ec;
  -webkit-box-align: center;
  position: relative;
}
.main_indent .indent_nav .add_nav {
  display: block;
  font-size: 0.28rem;
  -webkit-box-flex: 1;
  text-align: center;
  margin-left: 0.2rem;
}
.main_indent .indent_nav .add_nav:first-child {
  color: #4194f0;
}
.main_indent .indent_nav .add_nav .add_bot {
  position: absolute;
  left: 0.5rem;
  bottom: -0.01rem;
  width: 1.17rem;
  border-bottom: 3px solid #4194f0;
}
.main_indent .indent_con {
  width: null;
  height: 2.9rem;
  background: #ffffff;
  margin-top: 0.2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  border-left: 0.06rem solid #4194f0;
  background: #ffffff url("../img/put/jiantou.png") no-repeat right center;
  padding-right: 0.2rem;
  background-size: 0.16rem;
  box-sizing: border-box;
  margin-bottom: 0.21rem;
}
.main_indent .indent_con .indent_con_up {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: null;
  height: 0.68rem;
  background: #ffffff;
  border-bottom: 1px solid #e6e9eb;
  -webkit-box-align: center;
}
.main_indent .indent_con .indent_con_up .indent_con_up_txt {
  color: #666666;
  font-size: 0.23rem;
  margin-left: 0.2rem;
}
.main_indent .indent_con .indent_con_up .indent_con_up_num {
  -webkit-box-flex: 1;
  margin-left: 0.15rem;
  color: #666666;
  font-size: 0.23rem;
}
.main_indent .indent_con .indent_con_up .indent_con_up_off {
  margin-right: 0.21rem;
  color: #666666;
  font-size: 0.23rem;
}
.main_indent .indent_con .indent_con_cen_shop {
  width: null;
  height: 1.47rem;
  background: #ffffff;
  border-bottom: 1px solid #e6e9eb;
}
.main_indent .indent_con .indent_con_cen_shop .indent_shop {
  margin-top: 0.1rem;
}
.main_indent .indent_con .indent_con_cen_shop .indent_shop .indent_pic_one {
  width: 0.28rem;
  margin-left: 0.19rem;
}
.main_indent .indent_con .indent_con_cen_shop .indent_shop .indent_li {
  font-size: 0.25rem;
  color: #333333;
  margin-left: 0.09rem;
}
.main_indent .indent_con .indent_con_cen_shop .indent_money {
  margin-top: 0.1rem;
}
.main_indent .indent_con .indent_con_cen_shop .indent_money .indent_pic_two {
  width: 0.26rem;
  margin-left: 0.55rem;
}
.main_indent .indent_con .indent_con_cen_shop .indent_money .indent_ding {
  font-size: 0.22rem;
  color: #333333;
  margin-left: 0.08rem;
}
.main_indent .indent_con .indent_con_cen_shop .indent_money .indent_six {
  color: #4194f0;
  margin-left: 0.14rem;
}
.main_indent .indent_con .indent_con_cen_shop .indent_clock {
  margin-top: 0.09rem;
}
.main_indent .indent_con .indent_con_cen_shop .indent_clock .indent_pic_three {
  width: 0.26rem;
  margin-left: 0.55rem;
}
.main_indent .indent_con .indent_con_cen_shop .indent_clock .indent_xia {
  font-size: 0.22rem;
  color: #333333;
  margin-left: 0.08rem;
}
.main_indent .indent_con .indent_con_cen_shop .indent_clock .indent_data {
  margin-left: 0.18rem;
}
.main_indent .indent_con .indent_con_cen_shop .indent_clock .indent_time {
  margin-left: 0.13rem;
}
.main_indent .indent_con .indent_con_cen_shop .indent_delete {
  width: null;
  height: 0.7rem;
  background: #ffffff;
  margin-top: 0.3rem;
  width: 1.34rem;
  height: 0.48rem;
  border: 1px solid #666666;
  line-height: 0.48rem;
  margin-left: 4.38rem;
  text-align: center;
  color: #666666;
  font-size: 0.2rem;
  border-radius: 0.1rem;
}
.pormenor_tit {
  width: null;
  height: 2.27rem;
  background: #4194f0;
}
.pormenor_tit .pormenor_title {
  width: auto;
  height: 2.07rem;
  background: #ffffff;
  margin: 0 0.2rem;
  border-radius: 0.06rem;
  overflow: hidden;
}
.pormenor_tit .pormenor_title .pormenor_up {
  width: null;
  height: 1.27rem;
  background: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
}
.pormenor_tit .pormenor_title .pormenor_up .pormenor_img .pormenor_pic {
  width: 0.76rem;
  height: auto;
  background: none;
  margin: 0 0.17rem 0 0.2rem;
}
.pormenor_tit .pormenor_title .pormenor_up .pormenor_txt .text_pormenor {
  color: #333333;
  font-size: 0.26rem;
}
.pormenor_tit .pormenor_title .pormenor_up .pormenor_txt .time_porme {
  color: #666666;
  font-size: 0.18rem;
}
.pormenor_tit .pormenor_title .pormenor_up .pormenor_txt .data_pome {
  margin-left: 0.11rem;
}
.pormenor_tit .pormenor_title .pormenor_middel {
  width: null;
  height: 0.8rem;
  background: #f5f4f2;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
}
.pormenor_tit .pormenor_title .pormenor_middel .pormenor_middel_pic {
  width: 0.26rem;
  height: auto;
  background: none;
  margin: 0 0.18rem 0 0.16rem;
}
.pormenor_tit .pormenor_title .pormenor_middel .pormenor_middel_tel {
  color: #333333;
  font-size: 0.23rem;
}
.pormenor_tit .pormenor_title .pormenor_middel .pormenor_middel_shu {
  color: #333333;
  font-size: 0.23rem;
}
.songhuo {
  width: 100%;
  height: 0.78rem;
  background: #ffffff;
  border-bottom: 1px solid #e6e9eb;
  border-top: 1px solid #e6e9eb;
  margin-top: 0.17rem;
  line-height: 0.78rem;
}
.songhuo .songhuo_pic {
  width: 0.26rem;
  height: auto;
  background: none;
  margin: 0 0.09rem 0 0.26rem;
}
.songhuo .songhuo_txt {
  color: #333333;
  font-size: 0.23rem;
}
.po_middle {
  width: auto;
  height: 6.28rem;
  background: #ffffff;
  border-bottom: 1px solid #e6e9eb;
  border-right: 5px solid #e6e9eb;
}
.po_middle .dinghao {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  width: auto;
  height: 0.73rem;
  background: #ffffff;
  border-bottom: 1px solid #e6e9eb;
  margin-left: 0.27rem;
  margin-right: 0.31rem;
}
.po_middle .dinghao .hao {
  color: #333333;
  font-size: 0.25rem;
  letter-spacing: 0.15rem;
}
.po_middle .dinghao .shuhao {
  color: #333333;
  font-size: 0.25rem;
}
.po_middle .dinghao .lian {
  color: #333333;
  font-size: 0.25rem;
}
.po_middle .dinghao .eryi {
  color: #333333;
  font-size: 0.21rem;
}
.po_middle .dinghao .beizhu {
  letter-spacing: 0.5rem;
}
.base_po {
  width: 100%;
  height: 0.87rem;
  background: #ffffff;
}
.base_po .qian {
  display: block;
  border: 1px solid #4194f0;
  width: 1.35rem;
  height: 0.48rem;
  color: #4194F0;
  text-align: center;
  line-height: 0.48rem;
  border-radius: 0.1rem;
  margin-left: 4.7rem;
  margin-top: 0.17rem;
}
.main_cancel::-webkit-scrollbar {
  width: 0;
}
.main_cancel {
  -webkit-box-flex: 1;
  overflow: auto;
}
.main_cancel .cancel_text {
  width: 100%;
  height: 1.1rem;
  background: #fff8e6;
  border-top: 1px solid #e6e9eb;
  line-height: 1.1rem;
}
.main_cancel .cancel_text .text_tit {
  color: #333333;
  font-size: 0.26rem;
  margin-left: 0.3rem;
}
.cancel_center {
  width: 100%;
  height: 0.95rem;
  background: #ffffff;
  border-bottom: 1px solid #e6e9eb;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
}
.cancel_center input[type="checkbox"] {
  display: none;
}
.cancel_center input[type="checkbox"] + label {
  margin-left: 0.3rem;
  display: block;
  width: 0.38rem;
  height: 0.38rem;
  background: url("../img/check-mark.png") no-repeat bottom;
  background-size: 0.38rem auto;
  text-indent: -9999px;
  margin-right: 0.3rem;
}
.cancel_center input[type="checkbox"]:checked + label {
  background-position: 0 0;
}
.cancel_center .text_can {
  color: #333333;
  font-size: 0.26rem;
}
.base_cancel {
  width: null;
  height: 0.83rem;
  background: #ffffff;
}
.base_cancel .base_cancel_text {
  color: #fff;
  font-size: 0.28rem;
  text-align: center;
  border: 1px solid #acacac;
  background: #acacac;
  border-radius: 0.08rem;
  line-height: 0.83rem;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
}
